<% if signed_in? %>
	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main"> 
				<h1 class="micropost">What's up?</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>	
			</td>
						<td class="sidebar round">
							<%= render 'shared/user_info' %>
							<%= render 'shared/stats' %>
						</td>

					</tr>
				</table>

			<% else %>

			<h1>Sample App</h1>
			<p>
				This is the home page for Arnold's Ghetto Twitter.  I'm trying to learn how to program so I went through a tutorial to make this.  Hopefully will be able to work on random side projects here and there going forward...
			</p>

			<%= link_to "G'd Up From The Feet Up Sign Up!", signup_path, :class => "signup_button round" %>

			<% end %>